= link_to  "Add Person",  people_new_path
%br
= @people.size 
= @people.size == 1 ? "Person" : "People" 
found!
%br

- @people.each do |person|
  = person.first_name
  = person.last_name
  - person.roles.each do |role|
    = role.name
  %br
