= link_to  "Add Person",  people_new_path
%br
= @people.size 
= @people.size == 1 ? "Person" : "People" 
found!
%br

%table
  %th
    Name
  %th
    Roles
  %th
    Delete
  - @people.each do |person|
    %tr
      %td
        = link_to "#{person.first_name} #{person.last_name}", person
      %td
        - person.roles.each do |role|
          = role.name
      %td{:style => "text-align: center"}
        = link_to image_tag("delete.png", :border => 0), person, 
          :method => :delete, :confirm => "Are you sure?"
