= link_to "Add Role", roles_new_path
%br

= @roles.size 
= @roles.size == 1 ? "Role" : "Roles" 
found!
%br

%table
  %th
    Name
  %th
    Delete
  - @roles.each do |role|
    %tr
      %td{:style => "width: 200px"}
        = role.name
      %td{:style => "text-align: center"}
        = link_to image_tag("delete.png", :border => 0), role, 
          :method => :delete, :confirm => "Are you sure?"
